body {
    font-family: Arial;
    text-align: center;
}

.thumbnails img{
    width:100px;
    height:100px;
    object-fit: cover;
    margin:5px;
    cursor:pointer;
    border-radius:5px;
}

#bigImage {
    width: 400px;
    margin-top: 20px;
}